*.db
*.db-journal
*.xml
*.txt
*.DS_Store
*.log
*.sqlite
*.conf
icloud/*
tts/*
storage/*
.storage/*
homebridge/*
appdaemon/*
deps/*
node-red/*
www/*
known_devices.yaml
.ios.conf
aircast.xml
.homekit.state
.uuid
.cloud
.sqlite
secrets.yaml
switch/lock.yaml
zwscene.xml
zwcfg_0xde28a237.xml
pyozw.sqlite
OZW_Log.txt
options.xml
home-assistant_v2.db
home-assistant.log
.share